:root {
	/* From gruvbox color palette */
	--gray:#665c54;
	--dark: #282828;
	--darker:#32302f;
	--darkest:#1d2021;
	--light:#fbf1c7;
	--yellow: #fabd2f;
	--orange:#fe8019;
	--blue: #458588;
}


body {
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	background-color: var(--dark);
	font-family: 'Verdana', sans-serif;
	color: var(--light);
}

h2 {
	color: var(--light);
}

.contain h3 {
	color: var(--gray);
}


a {
	margin: 50px;
	color: var(--blue);
}

a:hover {
	transition: 0.5s;
	color: var(--yellow);
}

.contain {
	align-items:center;
	text-align:center;
	background-color: var(--darkest);
	padding-top: 2%;
	padding-bottom: 0;
	width: 15%;
	height: 15%;
	border-radius:20px;
	color: var(--gray);
}

hr {
	width: 30%;
}
input {
	background-color: #eee;
	border-radius:5px;
	border:1px solid #444;
}

.submit {
	border:none;
	margin:10px;
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	background-color: #eee;
}

li {
	list-style:none;
}

label {
	font-size:12px;
	font-weight:bold;
}

.admin {
	align-items:center;
	text-align:center;
	background-color: var(--orange);
	padding-top: 2%;
	margin-left: 2%;
	padding-bottom: 0;
	width: 25%;
	height: 25%;
	border-radius:20px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.prof {
	align-items:center;
	text-align:center;
	background-color: var(--yellow);
	padding-top: 2%;
	margin-right: 2%;
	padding-bottom: 0;
	width: 25%;
	height: 25%;
	border-radius:20px;
}

.prof a {
	color:var(--gray);
	font-family:"Verdana", sans-serif;
	margin:0px;
	font-size: 14px;
	text-decoration:none;
	font-style:italic;
}


.admin a {
	color: var(--darkest);
	font-family:"Verdana", sans-serif;
	margin:0px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-style:italic;
}

select {
	width: 80%;
}


#paragraph {
	text-align:justify;
	width:70%;
	display:none;
}

#show-hide {
	border:none;
	cursor: pointer;
	font-style:italic;
	margin:10px;
}

img {
	margin-top: 20px;
	filter: invert(99%) sepia(30%) saturate(5984%) hue-rotate(296deg) brightness(132%) contrast(97%);
}